# Center of mass for a set of points

Joints are stored in `.csv` file in the format:

```{text}
x,y,m
5,4,3
9,2,2
3,10,3
7,8,5
```

## Using numpy

### Loading

In [50]:
import csv
import numpy as np
points = np.loadtxt(open("joints.csv", "rb"), delimiter=",", skiprows=1)
points

array([[ 5.,  4.,  3.],
       [ 9.,  2.,  2.],
       [ 3., 10.,  3.],
       [ 7.,  8.,  5.]])

### Computer center of mass

In [51]:
points.min(axis=0)  #sum. max...

#plt.xlim(0, newMax_x(data))
#plt.ylim(0, newMax_y(data))
#for n in range(len(data)):
#    x = [float(data[n][0])]
#    y = [float(data[n][1])]
#    sumx = sumx + float(data[n][0])
#    sumy = sumy + float(data[n][1])
    
#CMx = sumx/len(data)
#CMy = sumy/len(data)
#plt.scatter(CMx, CMy, color='red')   
cm = [6, 6]

### Plot

Using matplotlib.

In [52]:
import matplotlib.pyplot as plt
plt.scatter(array[:,0], array[:,1])
#plt.scatter(cm[0], cm[1])  #center of mass
plt.xlabel("x")
plt.ylabel("y")
plt.show()

NameError: name 'array' is not defined

## Using pandas

### Loading

In [13]:
import pandas as pd
df = pd.read_csv('joints.csv', sep=',')
df
# df.min()
# df.max()

   x   y  m
0  5   4  3
1  9   2  2
2  3  10  3
3  7   8  5

### Compute center of mass

In [25]:
M = df.sum()[2]

df['xc'] = df.x * df.m / M
df['yc'] = df.y * df.m / M

xc = df.sum()[3:5]
xc

xc    5.923077
yc    6.615385
dtype: float64

In [15]:
dfc = pd.DataFrame(data={'x': [xc[0]], 'y': [xc[1]]})
dfc

          x         y
0  5.923077  6.615385

### Plot

Using seaborn.

In [59]:
import matplotlib.pyplot as plt
#plotting x & y values
mydata = df[["x", "y"]].dropna(how="any")
vals = mydata.values
plt.scatter(vals[:, 0], vals[:, 1])
#plotting CM
#plt.scatter(xc[0], xc[1])  #center of mass
#plt.xlabel("x")
#plt.ylabel("y")
#plt.show()

Using plotnine.
```{bash}
conda install -c conda-forge plotnine

pip install ggplot
pip install plotly
```

In [56]:
df

   x   y  m        xc        yc
0  5   4  3  1.153846  0.923077
1  9   2  2  1.384615  0.307692
2  3  10  3  0.692308  2.307692
3  7   8  5  2.692308  3.076923